@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  background: #d6eae7;
}
.container .logo {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 400px;
}
.container h1 {
  margin: 10px auto;
  color: #505050;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}
.container ul.show {
  opacity: 1;
  max-height: 500px;
}
.container ul .flex-container {
  display: flex;
  justify-content: center;
  max-width: 250px;
  margin: 10px auto;
}
.container ul li {
  margin: 5px 0;
  flex: 1;
}
.container ul li a {
  text-decoration: none;
  color: #505050;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.container ul li a:hover {
  color: #fff9a5;
}
.container .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 47%;
}
.container .box h4 {
  color: #505050;
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 0;
}
.container .box p {
  max-width: 460px;
}
.container .box img {
  max-width: 400px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.container .box .price {
  width: 460px;
  margin: 0 auto 15px auto;
  background-color: #7cc1d5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

/* Media Queries for Laptops */
@media only screen and (max-width: 1280px) {
  .container .box img,
  .container .box p {
    max-width: 350px;
  }
  .container .box .price {
    width: 350px;
  }
}
/* Media Queries for Tablets and larger smartphone */
@media only screen and (max-width: 768px) {
  .container .boxes {
    flex-direction: column;
  }
  .container .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
  .container .box img,
  .container .box p {
    max-width: 350px;
  }
  .container .box .price {
    width: 75%;
  }
}
/* Media Queries for Small Mobile */
@media only screen and (max-width: 480px) {
  .container .logo {
    max-width: 300px;
  }
  .container .boxes {
    flex-direction: column;
  }
  .container .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
  }

  .container .box img,
  .container .box p {
    max-width: 300px;
  }
  .container .box .price {
    width: 50%;
  }
}
