/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@font-face {
  font-family: "Open24Display";
  src: url("../fonts/Open\ 24\ Display\ St.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open24Display", sans-serif;
  overflow: hidden;
}

#loader {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.5s ease;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

#loader.hidden {
  opacity: 0; /* Fade out by changing opacity to 0 */
  pointer-events: none; /* Prevent interactions when hidden */
}
#loader img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container {
  width: 100%;
  height: 100vh;
  background: #e9d1d9;
  position: relative;
}
.container .form-box {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 30px;
}
.container .img-holder {
  position: relative;
  z-index: 1;
  width: 100%;
}
.container .img-holder .logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 300px;
}
.container i {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  padding: 20px;
  margin-top: 50px;
  font-size: 26px;
  cursor: pointer;
  display: none;
}
.container ul {
  position: absolute;
  right: 26px;
  top: 100px;
  z-index: 100;
  list-style-type: none;
  padding: 0;
  margin: 0;
  opacity: 0; /* Initially hidden */
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  background: #fff;
}
.container ul.show {
  opacity: 1;
  max-height: 500px;
}
.container li {
  padding: 10px 20px;
}

.container li a {
  text-decoration: none;
  color: #e9d1d9;
  transition: color 0.3s ease;
  font-size: 20px;
}

.container li a:hover {
  color: black;
}
.button-box {
  width: 250px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.ar {
  margin-left: 50px;
}
#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: #fff9a5;
  border-radius: 30px;
  transition: 0.5s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.menu {
  position: relative;
  width: 100%;
  margin-top: -36px;
  height: 100vh;
}

.menu .Laptop-cover {
  display: block;
  width: 100%;
  height: 100%;
}
.menu .Mobile-cover {
  display: none;
  background-color: #e9d1d9;
  height: 100vh;
}
.menu a {
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  animation: vanishAppear 1s infinite;
  -webkit-animation: vanishAppear 1s infinite;
  top: 47%;
  left: 44%;
}

@keyframes vanishAppear {
  0%,
  100% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Fully invisible */
  }
}

/* Media Queries for Laptops */
@media only screen and (max-width: 1279px) {
  .menu a {
    font-size: 18px;
    top: 49%;
    left: 44%;
  }
}
/* Media Queries for Tablets and larger smartphone */
@media only screen and (max-width: 768px) {
  .container .form-box {
    display: none;
  }
  #loader img {
    object-fit: cover;
  }
  .menu .Laptop-cover {
    object-fit: cover;
  }

  .menu a {
    top: 47%;
    left: 44%;
    font-size: 32px;
  }
  .container i {
    display: block;
  }
}
/* Media Queries for Small Mobile */
@media only screen and (max-width: 480px) {
  .container .form-box {
    display: none;
  }
  .container i {
    display: block;
  }
  #loader img {
    object-fit: cover;
  }
  .menu .Laptop-cover {
    object-fit: cover;
  }
  .menu {
    height: 100vh;
  }
  .menu a {
    top: 48%;
    left: 35%;
    font-size: 16px;
  }
  .container .img-holder .logo {
    width: 250px;
  }
}
